.nav {
	background-color: #006848;
}
.navbar-inverse .navbar-nav .active a{
	color: #ffdd00;
}
.navbar-inverse .navbar-brand{
	color: #ffdd00;
}
.jumbotron{
    margin-left: 0px;
    margin-right: 0px;
    color: #ffdd00;
    background-color: #666666;
}
.nmu-yellow{
	color: #ffdd00;
}

.nmu-green{
	color: #006848;
}

a {
	color: #ffdd00;
}

.well{
	background-color: #006848;
	color: white;
}